* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    background-image: url(../images/blue-triangles.jpg);
}

h1 {
 font-weight:900;
}

header {
    background-color:#2a4d69;
    color: #e7eff6; 
    font-family: 'Poiret One', cursive;
    padding:  15px;
    margin-bottom: 20px;
    border: 5px solid #adcbe3;
    border-radius: 10px;
}

p {
    padding: 5px;
    margin-top: 12px;
}


#game-rules, .scoreboard, #target-score, #running-score {
    background-color:#adcbe3;
    color: #2a4d69;
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    border: 5px solid #2a4d69; 
    border-radius: 10px;
    margin: 5px;
    
       
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
/* #target-score, #running-score {
    margin-left: 15px;
    
} */